[Desktop Entry]
Encoding=UTF-8
Name=NWO
Comment=NWO P2P Cryptocurrency
Exec=nwo-qt %u
Terminal=false
Type=Application
Icon=nwo128
MimeType=x-scheme-handler/nwo;
Categories=Office;Finance;
Name[ru]=nwo-qt.desktop.desktop
