[Desktop Entry]
Encoding=UTF-8
Name=UCC
Comment=UCC P2P Cryptocurrency
Exec=ucc-qt %u
Terminal=false
Type=Application
Icon=ucc128
MimeType=x-scheme-handler/ucc;
Categories=Office;Finance;
Name[ru]=ucc-qt.desktop.desktop
