[Unit]
Description=NWO's distributed currency daemon
After=network.target

[Service]
User=nwo
Group=nwo

Type=forking
PIDFile=/var/lib/nwod/nwod.pid

ExecStart=/usr/bin/nwod -daemon -pid=/var/lib/nwod/nwod.pid \
          -conf=/etc/nwo/nwo.conf -datadir=/var/lib/nwod

ExecStop=-/usr/bin/nwo-cli -conf=/etc/nwo/nwo.conf \
         -datadir=/var/lib/nwod stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
